.git
.next
.vercel
build
coverage
node_modules
out

.env
.env.*
!.env.docker.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache

*.pem
*.log
*.tsbuildinfo
next-env.d.ts
